<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="constr" connectionString="data source=HH-PC\SQLEXPRESS; initial catalog=test; Integrated Security=True" providerName="System.Data.SqlClient"/>-->

    <!--<add name="constr11" connectionString="data source=idpro.db.9426573.hostedresource.com; initial catalog=idpro; User ID=idpro; Password='Dev@12345'; "/>-->
    <add name="constr11" connectionString="Data Source=db205.my-hosting-panel.com; Initial Catalog=gurpreet_IDPRO; User ID=gurpreet_IDPRO; Password='idpro123';"/>



  </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
